<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
  <title><%= documentTitle %></title>
  <link rel="shortcut icon" href="../../static/images/favicon.ico" type="image/x-icon">
  <link rel='stylesheet' type='text/css' href='../../static/styles/reset.css'>
  <link rel='stylesheet' type='text/css' href='../../static/styles/style.css'>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
</head>
<body>

<nav class='navBar'>
  <ul>
    <li><a href='/'>Home</a></li>
    <li><a href='/kitty'>Browse</a></li>
    <li><a href="/kitty/Add">Add a kitty</a></li>
  </ul>
</nav>

<div class="container">
  <a href="/">
    <img class='kittyLogo'src='/../static/images/wikiKitty.png' alt='kitty logo'>
  </a>
