<% include ./partials/boilerplate.ejs %>
</div>
  <h3><%= subTitle %></h3>
</div>

<% if (showMore === true) { %>
<div class='more'>
  <div class='divOne'>
    <a class='browseKittylink'href='/kitty'>Browse</a> <br>
  </div>
  <div class='divTwo'>
    <a class='addkittylink'href='/kitty/Add'>Add a kitty!</a>
  </div>
</div>
<% } %>


<% include ./partials/end.ejs %>