<% include ./partials/boilerplate.ejs %>

<img class='kittyLogo'src='../static/images/wikiKitty.png' alt='kitty logo'>
</div>
  <h3><%= subTitle %></h3>
</div>

<% if (showMore === true) { %>
<div class='more'>
<div class='divOne'>
<a href='/kitty'>Browse</a> <br>
</div>
<div class='divTwo'>
<a href='/kitty/Add'>Add a kitty!</a>
</div>
</div>
<% } %>


<% include ./partials/end.ejs %>