<% include ../partials/boilerplate %>

  <div class='single-kitty'>
    <h3><%= kitty.breed_name %></h3>
    <div class='meta'>
      <span class='img'><img src='<%= kitty.img_url %>'></span>
      <p class='characteristic'><%= kitty.character_type %></p>
    </div>
  </div>

  <a href='/kitty'>Return to kitty index</a>

<% include ../partials/end %>