<% include ../partials/boilerplate %>

<form method='POST' action='/kitty'>
  <input name='breed_name' type='text' placeholder='Breed Name' />
  <input name='img_url' type='text' placeholder='Image url' />
  <input name='characteristic_id' type='text' placeholder='Characteristics' />
  <input type='submit' value='Add A kitty' />
</form>

<% include ../partials/end %>