<% include ../partials/boilerplate %>
<div class='navBar'>
<ul>
  <li><a href='/'>Home</a></li>
  <li><a href='/kitty'>Browse</a></li>
  <li><a href="/kitty/Add">Add a kitty</a></li>
</ul>
<div>

<form class="addKittyForm" method='POST' action='/kitty'>
<h2>Add a kitty to the wiki =^_^=</h2>
<div class="form-group">
  <label>Breed Name:</label>
  <input name='breed_name' type='text' placeholder='Scottish' />
</div>
<div class="form-group">
  <label>Enter an image URL:</label>
  <input name='img_url' type='text' placeholder='www.imgur.com/cat.jpg' />
</div>
<div class="form-group">
  <label>Choose your cat's personality:</label>
  <select name='characteristic_id'>
    <option value='1'>Affectionate</option>
    <option value='2'>Energetic</option>
    <option value='3'>Intelligent</option>
    <option value='4'>Child Friendly</option>
  </select>
</div>

<div class="form-group">
  <input class="kittyFormSubmit" type='submit' value='Add your kitty!' />
</div>
</form>

<% include ../partials/end %>