<% include ../partials/boilerplate %>

<form method='POST' action='/kitty/<%= id %>?_method=PUT'>
  <input name='breed_name' type='text' value='<%= kitty.breed_name %>' />
  <input name='img_url' type='text' value='<%= kitty.img_url %>' />
  <input name='characteristic_id'' type='text' value='<%= kitty.charcter_id %>' />
  <input type='submit' value='Edit your kitty!' />
</form>

<% include ../partials/end %>