<% include ../partials/boilerplate %>

  <div class='single-kitty'>
    <h3><%= kitty.breed_name %></h3>
    <div class='meta'>
      <span class='img'><img src='<%= kitty.img_url %>'></span>
      <span class='characteristic'><%= kitty.characteristic_id %></span>
    </div>
  </div>

  <a href='/kitty'>Return to kitty index</a>

<% include ../partials/end %>