@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  background: peachpuff;
  font-family: Lato;
}


h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 200px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 20px;

}
.divOne, .divTwo {
  width: 52%;
  margin: auto;
}

 a {
  
  margin: .5em .1em;
  border: 2px solid rgba(240,90,93,0.87);
  vertical-align: middle;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  overflow: hidden;
  display: block;
  transition: border-color 0.3s ease, color 0.5s ease, background-color 0.6s ease, all 0.6s ease;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5%;
  background: rgba(240,90,93,0.87);
}


.kittyLogo {
  display: block;
  margin: auto;
  width: 70%;
  padding-top: 40%;
}

a:hover {
  background: rgba(240,90,93,0.87);
}
.catImages  {
  width: 50%;
  display: block;
  margin: auto;
}




/*Desktop media query */
@media screen and (min-width: 1025px) {

h1 {
  text-align: center;
  font-size: 70px;
}
h3 {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 20px;

}
.divOne, .divTwo {
  width: 25%;
  margin: auto;
}
.kittyLogo {
  display: block;
  margin: auto;
  width: 40%;
  padding-top: 20%;
}



}